*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.card{
    position: relative;
    background-image: url('./images/bg-intro-desktop.png');
    background-color: #f57474;
        width: 1100px;
        height: 589px;
        margin: 50px auto;
        text-align: center;
}


.wrapper__card{
    display: flex;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

  
.card__left{
     margin: auto; 
   margin-bottom: 165px; 
}

.card__title{
    margin-bottom: 10px;
    width: 430px;
    font-weight: 800px;
    font-size: 35px;
    color: #fff;
}

.card__desc{
    width: 460px;
        text-align: left;
        margin-left: 75px;
        font-size: 15px;
        color: #fff;
        margin-top: 20px;
        line-height: 22px;
        font-weight: smaller;
}

.card-right {
    margin: 65px auto;
    margin-right: 85px;
}
.card__desc__item{
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: hsl(248, 32%, 49%);
    color: #fff;
    box-shadow: 0px 20px 10px -15px #444; 
    font-size: 12px;
    font-weight: 800px;
}

.desc__span{
    opacity: 0.7;
}
.card__form{
    width: 400px;
    height:355px ;
    background-color: #fff;
    border-radius: 10px;
   display: flex;
   flex-direction: column;
}

.card__inp{
    width: 340px;
    margin-top: 23px;
    margin-left: 30px;
    padding: 10px; 
}

.card__btn{
    width: 340px;
    margin-top: 15px;
    padding: 13px;
    background-color:hsl(154, 59%, 51%) ;  
    margin-left: 30px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
}
.card__text{
    margin-top: 12px;
    font-size: 10px;
    opacity: 0.5;
}
.card__text__1{
   color:hsl(0, 100%, 74%) ;
}
